
%h1
  %span.glyphicon.glyphicon-send{style: :"font-size:36px;"}  
  All links


/ -@links.each do |link|
/   .well
/     .panel.panel-primary
/       %h2=link_to link.title, link
/       .panel-body
/         %p=link.url
/         %h6.pull-right
/           Added by #{link.user.email} #{time_ago_in_words(link.created_at)} ago
/       .panel-footer
/         =link_to raw("Likes <span class='badge'>#{link.get_likes.size}</span>"), like_link_path(link), method: :put, class: "button btn btn-primary"
/         =link_to "Visit link", "http://www.yahoo.com", class: "button btn btn-primary"
/         -if user_signed_in?
/           .pull-right
/             =link_to "Edit", edit_link_path(link)
/             =link_to "Delete", link, method: :delete
     
-@links.each do |link|
  %h2
    =link_to link.title, link 
    %small
      %span.glyphicon.glyphicon-thumbs-up
      =link.get_likes.size
  %%h6 Added by #{link.user.email} #{time_ago_in_words(link.created_at)} ago
      
    

        
        
          
        
          
  


-#<p id="notice"><%= notice %></p>

-#<h1>Listing Links</h1>
-#-#<table>
-#  <thead>
-#    <tr>
-#      <th>Title</th>
-#      <th>Url</th>
-#      <th colspan="3"></th>
-#    </tr>
-#  </thead>
-#
-#  <tbody>
-#    <% @links.each do |link| %>
-#      <tr>
-#        <td><%= link.title %></td>
-#        <td><%= link.url %></td>
-#        <td><%= link_to 'Show', link %></td>
-#        <td><%= link_to 'Edit', edit_link_path(link) %></td>
-#        <td><%= link_to 'Destroy', link, method: :delete %></td>
-#        <td><%=link.get_likes.size%></td>
-#        <td><%=link_to 'Upvote', like_link_path(link), method: :put %></td>
-#        <td><%=link_to 'Downvote', dislike_link_path(link), method: :put %></td>
-#      </tr>
-#    <% end %>
-#  </tbody>
-#</table>

-#<br>


